
 *{
     margin: 0;
     padding: 0;
     font-family: "Oswald", sans-serif;
 }
 

 nav{

     width: 100%;
     background: rgb(73, 59, 201);
 }
 ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
     width: 80%;
     margin: 0 auto;
     padding: 0;
 }
 ul li{
    list-style: none;
    padding: 20px;
 }
 ul li:hover{
    background: rgb(230, 64, 166);
 }

 ul li a{
     color: #ffffff;
     text-decoration: none;
 }

 .toggle{
     width: 100%;
     padding: 10px 20px;
     text-align: right;
     color: #ffffff;
     cursor: pointer;
     box-sizing: border-box;
     font-size: 25px;
     display: none;
 }
 @media (max-width: 768px){
     .toggle{
         background:  rgb(52, 43, 139);
         display: block;
         border: 1px solid  rgb(52, 43, 139);
     }

     ul{
         width: 100%;
         display: block;
        
     }
     ul li{
         text-align: center;
         display: none;
         
         
       
     }
    
 }
 .active{
     display: block;

 }